:root {
    
    /* Brand colors */
    --slb-royal-purple: #5C2B84;
    --slb-gray: #656569;
}

/*************************************/
/*          Text Styles              */
/*************************************/

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 25px 0;
}

#hero-home h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 5rem;
}

h2 {
    margin: 20px 0;
}

@media (max-width: 700px) {

    #hero-home h1 {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-weight: 500;
    }
}

h3 {
    text-transform: uppercase;
    color: var(--slb-gray);
    font-size: 1.2rem;
    font-weight: 500;
}

h4 {
    text-transform: capitalize;
    font-weight: 100;
}

p {
    color: var(--slb-gray);
    font-size: 18px;
}

/*************************************/
/*           Components              */
/*************************************/

.btn-primary {
    background-color: var(--slb-royal-purple);
    border-color: var(--slb-royal-purple);
    margin: 40px 0;
    min-width: 100px;
}

.btn-primary:hover {
    background-color: rgba(222, 222, 222, 0.853);
    color: var(--slb-royal-purple);
    border-color: var(--slb-royal-purple);
}

.btn-secondary {
    margin: 40px 0;
    min-width: 100px;
}

.navbar-brand img {
    margin: 5px;
    height: 45px;
}

.pillar-badge {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: var(--slb-royal-purple);
    width: 220px;
    height: 220px;
}

.pillar-badge img {
    height: 90px;
    align-self: center;
}

.pillars span {
    padding: 30px;
    height: 500px;
    width: 100%;
    background-color: var(--slb-royal-purple);
    color: white;
}

.pillars p{
    color: white;
    font-weight: 300;
}

.pillars img {
    width: 100px;
}

#pillar-scholarship {
    background-color: var(--slb-gray);
}

#pillar-community-service {
    background-color: var(--slb-gray);
}

@media (max-width: 768px) {
    .pillars span {
        height: 400px;
    }
    
    .pillars img {
        width: 60px;
    }

    #pillar-community-service {
        background-color: var(--slb-royal-purple);
    }

    #pillar-culture {
        background-color: var(--slb-gray);
    }
}

/*************************************/
/*          Backgrounds              */
/*************************************/

section {
    background: rgb(221,221,221);
    background: 
        linear-gradient(0deg, rgba(221,221,221,1) 0%, 
        rgba(236,236,236,1) 19%, 
        rgba(255,255,255,1) 100%);
}

#hero-home {
    background: var(--slb-royal-purple) url(../assets/photos/hero-main-dark.jpg);
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

#join-banner-home {
    background: var(--slb-royal-purple) url(../assets/photos/brothers_01_dark.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

#join-banner-home p {
    font-weight: 300;
    color: white;
}

#brotherhood-banner-home {
    background: var(--slb-royal-purple) url(../assets/photos/brothers_02_dark.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

#brotherhood-banner-home p {
    font-weight: 300;
    color: white;
}

#hero-about {
    min-height: 300px;
    background: var(--slb-royal-purple) url(../assets/photos/hero-about.jpg);
    background-size: cover;
    background-position: center;

}

@media (max-width: 700px) {
    #hero-home {
        min-height: 400px;
    }

    #join-banner-home {
        min-height: 300px;
    }

}

/*************************************/
/*             Footer                */
/*************************************/

footer {

    min-height: 250px;
    background-color: #1C1C1C;
    color: rgb(184, 184, 184);
}

footer h2 {
    margin-bottom: 5px;
}

footer h3 {

    text-transform: capitalize;
}

footer svg {
    height: 50px;
    margin: 40px 20px;
    filter: invert(100%) sepia(20%) saturate(8%) hue-rotate(298deg) brightness(110%) contrast(89%);
}

footer svg:hover {
    cursor: pointer;
    filter: invert(17%) sepia(66%) saturate(2046%) hue-rotate(255deg) brightness(93%) contrast(92%);
}